@import models.game.RPSChoice
@(form: Form[RPSChoice], gameMode: Option[GameMode], choice: Option[String])(implicit messages: Messages, request: RequestHeader)

@main("Rock, Paper, Scissors") {

  @if(form.errors.nonEmpty){
    <p style="color: red">Stop trying to break my game please</p>
  }

  @if(gameMode.isDefined) {
  <h1>@gameMode.get.name</h1>

  @helper.form(action = routes.GameController.submitGame, 'id -> "rps.selection") {
    @helper.CSRF.formField
    @for(i <- gameMode.get.gameModeChoices) {
      <input class="button" type="submit" id="@i" name="rps.selection" value="@i.key">
    }
  }

  @if(choice.isDefined){
    <p>You chose: @choice.get</p>
    }
  } else {
    <h1>Select a game mode:</h1>
  }



}
