@import models.menu.GameModeChoice
@(form: Form[GameModeChoice], allGameModes: Seq[GameMode], currentGameMode: Option[GameMode])(implicit messages: Messages, request: RequestHeader)

@main("Rock, Paper, Scissors") {

  @if(form.errors.nonEmpty){
    <p style="color: red">Stop trying to break my game please</p>
  }

    <h1>Select a game mode:</h1>


  @helper.form(action = routes.MenuController.submitMenu, 'id -> "game.mode.selection") {
    @helper.CSRF.formField
    @for(mode <- allGameModes){
      <div style="background: slategray; width: 40%">
      <p style="color: white">@mode.name</p>
      <input class="button" type="submit" id="@mode.key" name="game.mode.selection" value="@mode.key">
      </div>
    }
  }




}
