@import models.menu.GameModeChoice
@import models.game.GameModeModel
@(form: Form[GameModeChoice], allGameModes: Seq[GameModeModel], spectatorMode: Option[String] = None)(implicit messages: Messages, request: RequestHeader)

@main("Rock, Paper, Scissors") {

  @if(form.errors.nonEmpty){
    <p style="color: red">Stop trying to break my game please</p>
  }

    <h1>Select a game mode:</h1>


  @helper.form(action = routes.MenuController.submitMenu, 'id -> "game.mode.selection") {
    @helper.CSRF.formField
    @defining(spectatorMode.getOrElse("false") == "true") { spectator =>
      @helper.checkbox(Field(form, "spectator.mode", Seq.empty, None, Seq.empty, None), '_label -> "Spectator Mode?", if(spectator){'checked -> true} else {'unchecked -> true})
    }

    @for(mode <- allGameModes){
      <div style="background: slategray; width: 40%; text-align: center">
        <br>
        <p style="color: white">@mode.name</p>
      <input class="button" type="submit" id="@mode.key" name="game.mode.selection" value="@mode.key">
      </div>
      <br>
    }
  }

}
